{% extends 'adminBase.html.twig' %}

{% block title %}Edit Homeslider{% endblock %}

{% block body %}
    <h1>Edit Homeslider</h1>

    {{ include('homeslider/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('homeslider/_delete_form.html.twig') }}
{% endblock %}
